<%= javascript_pack_tag 'ws' %>
<h1>新規schedule作成ページ</h1>
<div class="wrapper">
  <%= link_to "#{@user.email}さんの勤務予定", root_path    %>
  <%= form_with(model: @workschedule, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :日時 %>
      <%= f.date_field :wdate, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :勤務ステータス %></br>
      <%= f.collection_select :status_id, Status.all, :id, :status %>
    </div>
    <div class="form-group">
      <%= f.submit "予定投入",class: "button-create", :name =>'submit_new_ws'  %>
    </div>
  <% end %>
</div>
