<%= javascript_pack_tag 'ws' %>
<div class="wrapper">
  <div class="container">
    <% if current_user %>
    <h1><%= current_user.email %>さん</h1>
    <%= link_to '予定投入', new_workschedule_path, class: 'schedule-input-btn btn btn-primary' %>
      <div class="buttons">
        <button type="button" name="button" class="btn btn-info" id="nonadmin_lastmonth_btn" >先月</button>
        <button type="button" name="button" class="btn btn-info" id="nonadmin_thismonth_btn" >今月</button>
        <button type="button" name="button" class="btn btn-info" id="nonadmin_nextmonth_btn" >来月</button>
      </div>
      <ul class="list">
        <li class="namonth nonadmin_lastmonth"><%= render 'layouts/index-nonadmin-lastmonth' %></li>
        <li class="namonth nonadmin_thismonth active"><%= render 'layouts/index-nonadmin-thismonth' %></li>
        <li class="namonth nonadmin_nextmonth"><%= render 'layouts/index-nonadmin-nextmonth' %></li>
      </ul>
    <% end %>
  </div>
</div>
