<%= javascript_pack_tag 'ws' %>
<div class="container">
  <%= link_to "Excel出力",workschedules_path(@ws_thismonth, format: :xlsx),class:'btn btn-warning btn-excel' %>
  <div class="buttons">
      <a class="btn btn-info" id="admin_lastmonth_btn" href="">先月</a>
      <a class="btn btn-info admin_thismonth_btn" id="admin_thismonth_btn" href="">今月</a>
      <a class="btn btn-info" id="admin_nextmonth_btn" href="">来月</a>
  </div>
    <!-- この部分↓↓↓を可変させたい -->
    <ul class="list">
      <li class="month admin_lastmonth active"><%= render 'layouts/index-admin-lastmonth' %></li>
      <li class="month admin_thismonth active"><%= render 'layouts/index-admin-thismonth' %></li>
      <li class="month admin_nextmonth active"><%= render 'layouts/index-admin-nextmonth' %></li>
    </ul>
</div>
