<h1>adminのページ</h1>
<h3><%= Time.current.month %>月の部門別会社都合休業割合</h3>
<table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="coll" style="width:10%" >営業1部</th>
      <th scope="coll" style="width:10%" >営業2部</th>
      <th scope="coll" style="width:10%" >営業3部</th>
      <th scope="coll" style="width:10%" >営業4部</th>
      <th scope="coll" style="width:10%" >営業5部</th>
      <th scope="coll" style="width:10%" >財務部</th>
      <th scope="coll" style="width:10%" >全体</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_1 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_2 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_3 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_4 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_5 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month_per_dep_6 %> %</td>
      <td scope="row" ><%= @dobcc_ratio_in_total_this_month %> %</td>
    </tr>
  </tbody>
</table>
<div class="admin-top">
  <div class="item">現在の管理対象者数 <%= @number_of_users %>人 </div>
  <div class="item">|</div>
  <div class="item"><%= Time.current.month %>月の稼働日数 <%= @bd_thismonth %>日</div>
</div>
<%= link_to "Excel出力",workschedules_path(format: :xlsx, type: 2),class:'btn btn-excel' %>
<table class="workschedule_table table table-hover" >
  <thead>
    <tr>
      <th style="width:10%">社員番号</th>
      <th style="width:25%">email</th>
      <th style="width:20%">部門名称</th>
      <th style="width:15%">出勤日</th>
      <th style="width:30%">勤務形態</th>
    </tr>
  </thead>
  <tbody>
  <% @ws_thismonth.each do |f|  %>
    <tr>
      <td><%= User.find(f.user_id).idnum  %></td>
      <td><%= @users.find(f.user_id).email  %></td>
      <td><%= User.find(f.user_id).dep  %></td>
      <td><%= f.wdate  %></td>
      <td><%= @statuses.find(f.status_id).status %></td>
    </tr>
  <% end %>
  </tbody>
</table>
